<a href="https://colab.research.google.com/github/thien2020/file/blob/master/GitHub_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
ABNY=pd.read_csv("https://raw.githubusercontent.com/thien2020/file/master/AB_NYC_2019.csv")

In [11]:
ABNY.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]